# Local development only. setup.sh copies this file to .env and generates secrets.

TZ=Europe/Berlin

# Mattermost
MATTERMOST_IMAGE_TAG=11.7.0
MATTERMOST_PORT=8065
POSTGRES_DB=mattermost
POSTGRES_USER=mmuser
POSTGRES_PASSWORD=54d074befa4c750700f397e2e2f6b30fff521d140342508a
MATTERMOST_SITE_URL=http://192.168.0.196:8065

# Jitsi
JITSI_IMAGE_VERSION=stable-10978
JITSI_HTTP_PORT=8000
JITSI_HTTPS_PORT=8443
JVB_PORT=10000
JITSI_PUBLIC_URL=https://192.168.0.196:8443
JVB_ADVERTISE_IPS=192.168.0.196

XMPP_DOMAIN=meet.jitsi
XMPP_AUTH_DOMAIN=auth.meet.jitsi
XMPP_GUEST_DOMAIN=guest.meet.jitsi
XMPP_MUC_DOMAIN=muc.meet.jitsi
XMPP_INTERNAL_MUC_DOMAIN=internal-muc.meet.jitsi
XMPP_HIDDEN_DOMAIN=recorder.meet.jitsi

JICOFO_AUTH_PASSWORD=2976b0a9421487b59efb5287afb0f717c452e9f3d31792c2
JVB_AUTH_PASSWORD=455c41be3fca03205cfad5fe7f1af06ea1771dd8b5716206
